@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a, li, span, p, input {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

table {
  font-family: Roboto;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead tr th:nth-child(3) {
  width: calc(20%);
}

thead tr th:nth-child(4) {
  width: 20%;
}

thead tr th:nth-child(5) {
  width: 20%;
}

td:nth-child(3) {
  width: 20%;
}

td:nth-child(4) {
  width: 20%;
}

td:nth-child(5) {
  width: 20%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2473D5;
}

tbody {
  display: block;
  height: calc(100vh - 17rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

nav ul {
  padding-top: 8.125rem;
}

.compress {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.compress img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.rotated img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact-courier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset !important;
  -webkit-box-direction: unset !important;
      -ms-flex-direction: unset !important;
          flex-direction: unset !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625rem;
}

.on-map {
  padding: 0.5rem;
  background: #2473D5;
  border-radius: 2.1875rem;
  margin-top: 0.625rem;
  color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.on-map a {
  color: white;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0.75rem;
}

.contact-courier a {
  width: 2.125rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2473D5;
  border-radius: 50%;
}

.contact-courier a:first-child {
  margin-right: 0.3125rem;
}

.contact-courier a img {
  height: 1rem;
  width: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.map-section > a img {
  width: 35px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-item img {
  padding-right: 2.5rem;
  width: 2.125rem;
  height: 2.125rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.bottom-corner img {
  width: 2.125rem;
  height: 2.125rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-corner img {
  width: 2.125rem;
  height: 2.125rem;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  width: 16.75rem;
  height: 100vh;
  background-color: #2473D5;
  overflow: hidden;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li {
  position: relative;
}

nav ul li a {
  position: relative;
  height: 5.1875rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.625rem;
  color: white;
  padding-left: 2rem;
}

nav ul li a > * {
  z-index: 99;
}

nav ul li a.active > * {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav ul li a.active::after {
  opacity: 1 !important;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

nav ul li a.active + .radius span::before {
  -webkit-transform: translate(-50%, -50%) scale(2) !important;
          transform: translate(-50%, -50%) scale(2) !important;
}

nav ul li a.active + .radius span:last-child::before {
  -webkit-transform: translate(-50%, 50%) scale(2) !important;
          transform: translate(-50%, 50%) scale(2) !important;
}

nav ul li a:hover > * {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0.5625rem;
  top: 0;
  height: 100%;
  border-radius: 3.125rem 0 0 3.125rem;
  background: #fff;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

nav ul .radius {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}

nav ul .radius span {
  width: 3.125rem;
  height: 3.125rem;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

nav ul .radius span:before {
  content: '';
  position: absolute;
  right: 0;
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  border-radius: 2.1875rem;
  background: #2473D5;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav ul .radius span::before {
  -webkit-transform: translate(-50%, -50%) scale(2.8);
          transform: translate(-50%, -50%) scale(2.8);
}

nav ul .radius span:last-child {
  bottom: 0;
  top: unset;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

nav ul .radius span:last-child::before {
  -webkit-transform: translate(-50%, 50%) scale(2.8);
          transform: translate(-50%, 50%) scale(2.8);
}

nav.compressed {
  width: 7.25rem;
  -webkit-transition: .5s;
  transition: .5s;
}

nav.compressed span {
  display: none;
}

nav.compressed a {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.compressed > ul li img {
  padding: 0;
}

.section-area {
  padding: 1.5rem 1.6875rem;
  width: calc(100% - 16.75rem);
}

.section-area.compressed {
  width: calc(100% - 7.25rem);
}

.section-area .section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  color: #102C55;
  padding-bottom: 0.875rem;
}

.section-area .section-title h1 {
  font-size: 2.5rem;
}

.section-area .section-menu {
  padding-bottom: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-area .section-menu ul {
  width: 41.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-area .section-menu ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: #102C55;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.3;
}

.section-area .section-menu ul li a:hover {
  color: #2473D5;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.section-area .section-menu ul li.active a {
  color: #2473D5;
  opacity: 1;
  position: relative;
}

.section-area .section-menu ul li.active a::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  background-color: #2473D5;
  bottom: -1.25rem;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-area .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-area .search-area a {
  width: 3.3125rem;
  height: 3.3125rem;
  border-radius: 50%;
  background-color: #2473D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.section-area .search-area a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(0rem) scale(1.1);
          transform: translateY(0rem) scale(1.1);
}

.section-area .search-area a img {
  width: 1.3125rem;
  height: 1.3125rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-area .search-area input {
  margin-left: 1.875rem;
  width: 25.5625rem;
  height: 3.3125rem;
  border: unset;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  border-radius: 2.1875rem;
  background-color: rgba(36, 115, 213, 0.03);
}

.section-area .search-area input::-webkit-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.section-area .search-area input:-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.section-area .search-area input::-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.section-area .search-area input::placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.section-area .search-area input:focus {
  border: unset;
  outline: none;
}

.section-area .search-area select {
  width: 9.8125rem;
  height: 3.3125rem;
  border: 0.0625rem solid #231F20;
  color: #231F20;
  opacity: 0.5;
  border-radius: 2.1875rem;
  background-color: rgba(36, 115, 213, 0.03);
  border: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 0 0.9375rem;
}

.section-area .search-area select:focus {
  border: unset;
  outline: none;
}

.section-area .search-area .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25.625rem;
  position: relative;
  margin-right: 0.625rem;
}

.filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.filter-section > span {
  font-weight: bold;
  font-size: 1.425rem;
  line-height: 1.875rem;
  color: #102C55;
  margin-right: 1.5625rem;
}

.filter-section .selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.125rem;
}

.filter-section .selects span {
  margin-right: 0.9375rem;
  font-weight: normal;
  font-size: 1.275rem;
  line-height: 1.625rem;
}

.filter-section .selects .select-container {
  border: 0.0625rem solid rgba(35, 31, 32, 0.2);
  width: 12.375rem;
  border-radius: 2.1875rem;
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.filter-section .selects .select-container.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-section .selects .select-container span {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: rgba(35, 31, 32, 0.5);
}

.selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.125rem;
}

.selects span {
  margin-right: 0.9375rem;
  font-weight: normal;
  font-size: 1.275rem;
  line-height: 1.625rem;
}

.selects .select-container {
  border: 0.0625rem solid rgba(35, 31, 32, 0.2);
  width: 12.375rem;
  border-radius: 2.1875rem;
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.selects .select-container.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selects .select-container span {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: rgba(35, 31, 32, 0.5);
}

.order-id {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  /* identical to box height */
}

.order-id .ids > a {
  color: #2473D5;
}

.order-id div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table {
  width: 100%;
  margin-top: 0.625rem;
}

.table thead {
  width: calc(100% - 5px);
}

.table thead th {
  border: 0.0625rem solid #E7E7E7;
  height: 4.3125rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  /* identical to box height */
  color: #102C55;
}

.table tbody tr th {
  border: 0.0625rem solid #E7E7E7;
  padding: 0.325rem 0.5625rem;
}

.table tbody tr td {
  border: 0.0625rem solid #E7E7E7;
  padding: 0.325rem 0.5625rem;
}

.order-ids {
  background-color: #2473D5;
  padding: 1.25rem;
  min-width: 4.375rem;
  border-radius: 2.1875rem;
  display: inline-block;
  display: none;
  color: white;
  outline: none;
}

.order-ids span {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  margin-bottom: 0.625rem;
  display: block;
  text-align: center;
}

.order-ids input {
  width: 9.8125rem;
  height: 2.375rem;
  color: white;
  border: unset;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  border-radius: 2.1875rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.order-ids input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.order-ids input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.order-ids input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.order-ids input::placeholder {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.order-ids a {
  width: 2.5rem;
  height: 2.375rem;
  background: white;
  border: 0.125rem solid #2473D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: -2rem;
}

.order-ids .order-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.driver-info {
  background-color: #2473D5;
  padding: 1.25rem;
  width: 12.5rem;
  border-radius: 2.1875rem;
  display: none;
}

.driver-info span {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  opacity: 0.7;
}

.driver-info p {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
}

.driver-info a {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
}

.driver-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3125rem;
}

.select-body {
  position: absolute;
  border: 0.0625rem solid rgba(35, 31, 32, 0.2);
  width: 12.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.0625rem 1.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 2.1875rem;
  border-bottom-right-radius: 2.1875rem;
}

.select-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-body ul li span {
  font-size: 1.25rem;
  margin-bottom: 0.6875rem;
  display: inline-block;
  font-weight: normal;
  line-height: 1.4375rem;
  color: #102C55;
  padding-left: 0.625rem;
}

nav ul li.active .top-corner {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li.active .bottom-corner {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.order-ids.active {
  display: block;
}

.driver-info.active {
  display: block;
}

.top-corner {
  position: absolute;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  top: -25px;
}

.top-corner img {
  padding: 0 !important;
}

.bottom-corner {
  position: absolute;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.bottom-corner img {
  padding: 0 !important;
}

.map-section {
  position: relative;
}

.map-section .refresh {
  width: 2.9375rem;
  height: 2.9375rem;
  border: 0.0625rem solid #2473D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.map-section .refresh img {
  height: 1.9375rem;
  width: 1.9375rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.show-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.show-section .order-id {
  margin-left: 2.1875rem;
}

.show-section .order-id .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.show-section .order-id a {
  width: 11.25rem;
  height: 3.3125rem;
  background: #2473D5;
  border: 0.125rem solid #2473D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2.1875rem;
  position: absolute;
  right: -6rem;
}

.show-section .order-id input {
  margin-left: 1.875rem;
  width: 13rem;
  height: 3.3125rem;
  border: unset;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  border-radius: 2.1875rem;
  background-color: rgba(36, 115, 213, 0.03);
}

.show-section .order-id input::-webkit-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.show-section .order-id input:-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.show-section .order-id input::-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.show-section .order-id input::placeholder {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #2473D5;
  opacity: 0.5;
}

.show-section .order-id input:focus {
  border: unset;
  outline: none;
}

.show-section > span {
  font-weight: bold;
  font-size: 1.425rem;
  line-height: 1.875rem;
  color: #102C55;
  margin-right: 1.5625rem;
}

.show-section .rounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show-section .round {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.75rem;
}

.show-section .round span {
  font-size: 1.25rem;
  color: #231F20;
  opacity: 0.5;
}

.show-section .round input[type="checkbox"] {
  visibility: hidden;
}

.show-section .round .mark {
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 1.75rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.75rem;
}

.show-section .round .mark:after {
  border: 0.125rem solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 0.375rem;
  left: 0.4375rem;
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 0.75rem;
}

.show-section .round span {
  margin-left: 1.5rem;
}

.show-section .round input[type="checkbox"]:checked + .mark:after {
  opacity: 1;
}

.show-section .round input[type="checkbox"]:checked + .mark {
  background-color: #2473D5;
  border-color: #2473D5;
}

.show-section .round input[type="checkbox"]:checked + .mark:after {
  opacity: 1;
}

.show-section .round input[type="checkbox"]:checked + .mark {
  background-color: #2473D5;
  border-color: #2473D5;
}

.assign {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

table thead tr th:first-child {
  border-radius: 2.1875rem 0 0 0;
}

table thead tr th:last-child {
  border-radius: 0 1.5625rem 0 0;
}

.tb-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tb-status .time {
  width: 5.875rem;
  height: 1.5rem;
  border: 1px solid #2473D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2473D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.4375rem;
  border-radius: 2.1875rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.tb-status .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2.1875rem;
  width: 5.875rem;
  height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(253, 185, 26, 0.1);
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.1875rem;
}

.tb-status .unread {
  color: #b11e3f;
  background-color: rgba(177, 30, 63, 0.2);
}

.tb-status .read {
  color: #94479a;
  background-color: rgba(148, 71, 154, 0.2);
}

.tb-status .confirmed {
  color: #44c660;
  background-color: rgba(68, 198, 96, 0.2);
}

.tb-status .ontheway {
  color: #f89521;
  background-color: rgba(248, 149, 33, 0.2);
}

.tb-status .completed {
  color: #2473d5 !important;
  background-color: rgba(36, 115, 213, 0.2) !important;
}

.tb-status .cancelled {
  color: #ef3831;
  background-color: rgba(239, 56, 49, 0.2);
}

.tb-status .ready {
  color: #03b8ec;
  background-color: rgba(3, 184, 236, 0.2);
}

.tb-status .opened {
  color: #5e5f5f;
  background-color: rgba(94, 95, 95, 0.2);
}

.order-time {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #102C55;
  text-align: center;
}

.order-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.user-infos {
  padding: 1rem;
  border-radius: 18px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 8rem;
  width: 8rem;
  top: -15px;
  right: -30px;
  display: none !important;
}

.user-add {
  position: relative;
  cursor: pointer;
}

.user-add:hover .user-infos {
  display: block !important;
}

.tb-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tb-info div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tb-info div span:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.425rem;
}

.tb-info div span:first-child a {
  color: black;
}

.tb-info div span:nth-child(2) {
  font-size: 0.8rem;
  max-width: 18rem;
}

.tb-info div span:nth-child(2) a {
  color: black;
}

.tb-info div span img {
  margin-right: 0.625rem;
  width: 21px;
  height: 29px;
  -o-object-fit: contain;
     object-fit: contain;
}

.tb-info:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.625rem;
  color: #102C55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.9375rem;
}

@media screen and (max-width: 1460px) {
  html {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */